[submodule "TASK1_WORK_IN_TEAm_1"]
	path = TASK1_WORK_IN_TEAm_1
	url = https://github.com/CARSIRO96/DATAPATH.git
[submodule "TASK1_WORK_IN_TEAM_0"]
	path = TASK1_WORK_IN_TEAM_0
	url = https://github.com/CARSIRO96/DATAPATH.git
